# =========================
# Django settings (Desarrollo y Producción)
# =========================
DEBUG=True/False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
HTTPS=True/False
TIME_ZONE=America/Monterrey

# =========================
# BD de Clever Cloud
# =========================
DB_NAME=blbobicm5ybh67kjinxc
DB_USER=uxxuzbyn4sknuup3
DB_PASSWORD=HWnbIzeSH3zcsx97Bu3M
DB_HOST=blbobicm5ybh67kjinxc-mysql.services.clever-cloud.com
DB_PORT=3306

# ==================================================
#                     Producción
# ==================================================

# =========================
# Docker-compose
# =========================
#docker-compose up --build
#La base de datos se crea desde cero y toma estos valores
#Nota: si se cambian los valores hay que tumbar todo para que se apliquen los cambios al crearse de nuevo

#MySQL
#DB_NAME=ruja
#DB_USER=user
#DB_PASSWORD=super_secure_password
#DB_ROOT_PASSWORD=root_password
#DB_HOST=db
#DB_PORT=3306

#Superusuario
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin123

#Puerto de acceso (nginx)
PORT=8000

# =========================
# Dockerfile (mySQL)
# =========================
#El proyecto usa la BD creada previamente dentro de la PC
#docker build -t portfolio .
#docker run -p 8000:8000 --env-file .env portfolio

#MySQL
#DB_NAME=ruja
#DB_USER=root
#DB_PASSWORD=password
#DB_HOST=host.docker.internal
#DB_PORT=3306

#Superusuario
#SUPERUSER_USERNAME=admin
#SUPERUSER_EMAIL=admin@example.com
#SUPERUSER_PASSWORD=admin123

# =========================
# Entorno de producción simulado
# =========================
#Cuando se ejecuta con DEBUG False
#Se simula el entorno de producción y se usa la BD creada previamente en la PC
#py manage.py migrate
#py manage.py collectstatic
#waitress-serve --port=8000 Portfolio.wsgi:application

#DB_NAME=ruja
#DB_USER=root
#DB_PASSWORD=password
#DB_HOST=localhost
#DB_PORT=3306